{% extends "views/index.html" %}
{% block scripts %}
<script src="assets/js/jquery-1.11.3.min.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
{% endblock %}
{% block container %}
{% set navigation_bar = [
('manage', '/manage', 'Manage'),
('create', '/create', 'Create'),
('view', '/view', 'View'),
('search', '/search', 'Search'),
('trending', '/trending', 'Trending'),
('social', '/social', 'Social')
] -%}
<div class="masthead">
    <div class="row">
        <div class="col-md-2">
            <h1>Connex.us</h1>
        </div>
        <div class="col-md-4">
            <br/>
            <form action="/search" method="get">
                <div class="dropdown" id="search-input">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </span>
                        <input type="text" id="search-bar" name="query"
                        class="form-control dropdown-toggle ui-autocomplete-input "
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    </div>
                </div>
            </form>
            <script>
                $(function() {
                    var cache = {};
                    $("#search-bar").autocomplete({
                        minLength: 1,
                        appendTo: "#search-input",
                        source: function( request, response ) {
                            var term = request.term;
                            if (term in cache) { response(cache[term]);
                                return;
                            }
                            $.getJSON("terms", request, function(data, status, xhr) {
                                var matches = data["matches"].sort();
                                cache[term] = matches.slice(0, 20);
                                response(cache[term]);
                            });
                        }, messages: {
                            noResults: '',
                            results: function() {}
                        }
                        }).data("ui-autocomplete")._renderItem = function (ul, item) { 
                        return $("<li>")
                        .data("ui-autocomplete-item", item)
                        .append("<b>" + item.value + "</b>")
                        .appendTo(ul);
                    };

                    $("#search-bar").autocomplete("widget").addClass('dropdown-menu');
                });
            </script>

        </div>
        <nav>
        <ul class="nav nav-justified">
            {% for id, href, caption in navigation_bar %}
            <li{% if id == active_page %} class="active"{% endif %}>
            <a href="{{ href|e }}">{{ caption|e }}</a>
            </li>
            {% endfor %}
        </ul>
        </nav>
    </div>
</div>
<br/>
<br/>
{% block content %}
{% endblock %}
{% endblock %}
